@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400,700;1,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

/* inicio layout generales */
html{
    scroll-behavior: smooth;
    /* puntos de ancla animados para subir o bajar con suavidad */
}

:root{
    --fuenteprincipal: "montserrat", sans-serif;
    --fuentetitulos: "handlee" cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e; /* color de fondo del menu */
    --fontsize: 1em;
    --anchomaximo: 68,75rem;
    --gap: 1rem;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: var(--anchomaximo);
    margin: 0 auto;
    padding: 0 0.625em;
    /* hay que hacer un padding lateral sobretodo para movil */
}

body{
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}
/* inicio header */
header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.25em 0;
}
header .nav-top .container{
    display: flex;
    justify-content: space-around;
    & span {
        display: none;
}
        & i{
            font-size: 140%;
            color: var(--colorprincipal);
        }
    }




/* fin de header */
/* inicio media queries */
@media(width>=768px) {
    header .nav-top .container{
        justify-content: space-between;
        & span{
            display: inline;
        }
        & a{
            color: white;
            text-decoration: none;
            font-size: 110%;
        }
    }
}

/* fin media queries */
/* fin layout generales */
